# Environment Variables
.env

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# ChromaDB (optional - rebuild on startup)
chroma_db/

# IDE
.vscode/
.idea/
# Logs
*.log

# Testing
.pytest_cache/


credentials.json